@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0%;
    font-family: "montserrat",sans-serif;
}
/* navbar */
li,li a,h1{
    font-family: "montserrat",sans-serif;
    text-shadow: 2px 2px #42414157}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
}
h1{
    margin-left: 30px;
    cursor: pointer;
}
#theme{
    width: 40px;
    border-radius: 50%;
}
nav ul{
list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: yellow;
}
nav li a{
    text-decoration: none;
    color: var(--text-color2);
}
.active{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--additional-color);
}
.side{
    display: none;
}

:root{
    --primary-color:rgb(72, 70, 70);
    --secondary-color:black;
    --additional-color:rgb(247, 112, 16);
    --text-color1:black;
    --text-color2:white;
}

.dark-theme{
    --primary-color:rgb(254, 252, 252);
    --secondary-color:rgb(148, 124, 124);
    --additional-color:rgb(191, 103, 30);
    --text-color1:white;
    --text-color2:black;
}


/* articles */
body{
    background-color: var(--secondary-color);
}
.heading{
    text-align: center;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    color: var(--additional-color);

}
.container{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.box,.box2,.box3{
    margin-top: 5%;
    width: 25%;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--primary-color);
    transition: 0.5s;
}
.scale:hover{
    background-color: var(--additional-color);
    transform: scale(0.9);
}
.scale a{
    text-decoration: none;
    color: black;
}
img{
width: 100%;
}
p{
margin: 10px;
word-wrap: break-word;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}

@media(max-width:800px){
    nav ul li{
        display:block;
       }
       nav{
        position: absolute;
        background: orangered;
        height: 100vh;
        top: 0;
        right: -200px;
        transition: 1s;
       }
       .side{
        display: block;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
       }
       nav ul{
        padding: 10px;
       }


    .container{
        flex-direction: column;
    }
    .box,.box2,.box3{
        min-width: 80%;
        margin: 20px 40px;
    }
    p{
       font-size: 4vw;
    }
}