@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


li,a,h1{
    font-family: "montserrat",sans-serif;
    text-shadow: 2px 2px #42414157}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
}
h1{
    margin-left: 30px;
    cursor: pointer;
}
.logo{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    color: EE500C;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: yellow;
}
nav li a{
    text-decoration: none;
    color: rgb(246, 245, 245);
}
.active{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: orangered;
}
.side{
    display: none;
}

/* services */
body{
    background-color: rgb(60, 59, 59);
    font-family: "monserrate",sans-serif;
}
.heading {
    margin-top: 40px;
    text-align: center;
    color: orangered;
    margin-top: 7%;
    margin-bottom: 0px;
}
.headings{
    margin-top: 40px;
    text-align: center;
    color: white;
}
.mini{
    text-align: center;
    color: white; 
    margin-top: 5px; 
}
.box{
    background-color: black;
    max-width:25%;
    margin-top: 60px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #605b5b;
    transition: .3s; 
}
.box:hover{
    transform: scale(1.1);
}
h2{
    color: EE500C;
    padding-top: 40%;
    padding-left: 30px;
    padding-right: 5px

}
.mini{
margin-top: 10px;
}
.description{
    color: white;
    padding-left: 30px;
    line-height: 1.3;
    letter-spacing: 2;
    font-size: large;
}
.flex{
    display: flex;
    gap: 30px;
    margin: 0px 30px;
    justify-content: center;
}
.skills{
    background-color: black;
    margin: 0% 20%;
    margin-top: 3%;
    border-radius: 5px;
}
.w3{
    background-color: grey;
    bottom: 0px;
    border-radius: 20px;
}
.grey{
    border-radius: 20px;
    margin-top: 5px;
    background-color: EE500C;
    height:10px;
}
P{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
.lang{
    margin: 0% 20%;
}
.w3{
margin: 0% 10% 0% 22%;
}
.html{
    padding-top: 2%;
}

@media(max-width:800px){

    nav ul li{
        display:block;
       }
       nav{
        position: absolute;
        background: orangered;
        height: 100vh;
        top: 0;
        right: -200px;
        transition: 1s;
       }
       .side{
        display: block;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
       }
       nav ul{
        padding: 10px;
       }
       .flex{
        flex-direction: column; 
        }
       .mini{
        font-size: 4vw;
       }
       .box{
        min-width: 100%;
       }
       h2,.description{
        font-size: 6vw;
       }
       .skills{
        margin: 0% 5%;
       }
       .heading{
        margin-top: 90px;
        font-size: 7vw;
       }
}