<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>API TESTER \\</API></h1>
        <nav>
            <ul>
                <a href="/blogs"><li>HOME</li></a>
                <a href="/blogs/add"><li>ADD BLOG</li></a>
                <a href=""><li>MESSAGES</li></a>

            </ul>
        </nav>
    </header>
    <h1 class="heading">BLOGS</h1>

    <div class="container">
        <div class="blog">
            <img src="blog-3.jpg" alt="" class="cover_image">
            <a href="/blogs/1"><p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nesciunt ipsa laboriosam, at aliquid quibusdam sed quae! Reiciendis, iste nostrum!</a></p>
        </div>
        <div class="blog">
            <img src="blog-3.jpg" alt="" class="cover_image">
            <p class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum quod voluptatem, repellendus excepturi nam.
            </p>
        </div>
        <div class="blog">
            <img src="blog-3.jpg" alt="" class="cover_image">
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, voluptatum.</p>
            <a href="/auth/google">login</a>
        </div>

    </div>
</body>
</html>