<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/single.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>API TESTER \\</API></h1>
        <nav>
            <ul>
                <a href="/blogs"><li>HOME</li></a>
                <a href="/blogs/add"><li>ADD BLOG</li></a>
                <a href=""><li>MESSAGES</li></a>

            </ul>
        </nav>
    </header>
    <div class="container">
        <img src="blog-3.jpg" alt="" class="cover_image">
        <h1 class="body">BODY</h1>
    </div>
</body>
</html>