@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



/* navigation bar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-family: "montserrat",sans-serif;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(33, 107, 167);

}
nav ul{
    list-style: none;
}
nav li{
    font-family: "montserrat",sans-serif;
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav a{
    text-decoration: none;
    color: rgb(33, 107, 167);
}
/* add */
.heading{
    text-align: center;
    font-family: "montserrat",sans-serif;
}
.container{
    margin-top: 2%;
}
.title, .body,.file{
    width: 60%;
    margin-left: 20%;
    padding: 10px;
    margin-bottom: 5px;
}
.send{
    background-color: rgb(33, 107, 167);
    width: 50%;
    padding: 6px;
    margin-left: 22%;
    margin-top: 0%;
    border-style: none;
    border-radius: 5px
;
}
.edit{
    padding: 6px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(88, 232, 88);
}
