@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



/* navigation bar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-family: "montserrat",sans-serif;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(33, 107, 167);

}
nav ul{
    list-style: none;
}
nav li{
    font-family: "montserrat",sans-serif;
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav a{
    text-decoration: none;
    color: rgb(33, 107, 167);
}

/* body */
.heading{
    font-family: "montserrat",sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-top: 5%;
    color:rgb(12, 45, 71);;
}
.container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 0%;
    padding-top: 10px;
    justify-content: center;
}
.blog{
    background-color:hwb(207 13% 35% / 0.724);;
    width: 20%;
    border-radius: 5px;
    overflow:hidden ;
}
.cover_image{
    width: 100%;
}
.title{
    margin: 10px;
word-wrap: break-word;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}
.blog a{
    text-decoration: none;
    color: black;
}